.duck {
--primary-color: #333;
--bg-color: #eee;
--text-color: #1d253b;
--link-color: #333;
--heading-color: #63a7db;
--border-color: rgba(0, 0, 255, 0.1);
--header-bg: #63a7db;
--block-bg: #eee;
  }
