.recap {
  --primary-color: #b5b3ae;
  --bg-color: #003893;
  --text-color: #fff;
  --link-color: #f9c89f;
  --heading-color: #fff;
  --border-color: hsla(0,0%,100%,0.2);
  --header-bg: #DC143C;
  --block-bg: transparent;
}
