.redc {
    --primary-color: #ff007a;
    --bg-color: #f5f5f5;
    --text-color: #000;
    --link-color: #080B47;
    --heading-color: #f90404;
    --border-color: #e1e3e7;
    --header-bg: #f44336;
}
  
