.zch {
    --primary-color: #ff007a;
    --bg-color: #f5f5f5;
    --text-color: #060d52;
    --link-color: #080B47;
    --heading-color: #6f0808;
    --border-color: #e1e3e7;
    --header-bg: #f44336;
}
