.zwall {
  --primary-color: #FB0779;
  --bg-color: #f7f7f7;
  --text-color: #101832;
  --link-color: #6F16FD;
  --heading-color: #101832;
  --border-color: #6F16FD;
  --header-bg: #ffffff;
  --block-bg: #ffffff;
}

@media (prefers-color-scheme: dark) {
  .zwall {
    --primary-color: #FB0779;
    --bg-color: #160f30;
    --text-color: #ffffff;
    --link-color: #6F16FD;
    --heading-color: #ffffff;
    --border-color: #6F16FD;
    --header-bg: #101832;
    --block-bg: #101832;
  }
}